<div class="content">
    <h2 class="has-text-centered"> Steam Switch</h1>
        <p class="has-text-left-mobile">
            Just a very simple Electron app for Windows to switch Steam accounts, nothing special. The Source is open and on GitHub feel free to fork, copy, improve, whatever!
        </p>
        <div class="level">
            <div class="level-item ">
                <a onclick="openExternalLink('https://github.com/LiamMcLeod/steam-switch-electron')">
					<i class="fab fa-github fa-5x "></i>
				</a>
            </div>
        </div>

        <div class="level ">
            <p class="has-text-centered "> Thanks for downloading!</p>
            <div class="level-item ">
                <a onclick="hideAll() " class="button is-dark ">Close</a>
            </div>
        </div>
        <footer>
            Liam McLeod, 2018
        </footer>
</div>