<div class="card">
    <div class="card-content columns is-mobile">
        <div class="column is-2 is-mobile">
            <i class="fab fa-steam-symbol fa-3x"></i>
        </div>
        <!-- has-text-centered -->
        <div class="column ">
            <p class="title">
                {{:name}}
            </p>
        </div>
        <div class="column is-1 is-mobile delete-col">
            <a data-id={{:id}} href="#" class="delete-button">
                <i class="fas fa-times-circle fa-1x fright"></i>
            </a>
        </div>
    </div>
    <footer class="card-footer">
        <a data-id={{:id}} href="# " class="card-footer-item edit-item">
            Edit
        </a>
        <a data-id={{:id}} href="# " class="card-footer-item launch-item">
            Launch
        </a>
    </footer>
</div>