<template id="account-modal" class="template">
	<div class="content-body account hidden">
		<div class="pure-u-5-12">

		</div>
		<div class="pure-u-2-12">
			<form class="pure-form pure-form-stacked">
				<fieldset>
					<legend>Enter your account</legend>

					<label for="email">Username:</label>
					<input id="userInput" type="text" placeholder="Username">

					<label for="password">Password:</label>
					<input id="passInput" type="password" placeholder="Password">

					<label for="remember" class="pure-checkbox">
						<input id="remember" type="checkbox"> Remember?
					</label>

					<button type="submit" class="pure-button pure-button-primary">Add</button>
				</fieldset>
			</form>
		</div>
		<div class="pure-u-5-12">

		</div>
		<!-- <div>
			<a id="account-hide" class="account-hide" href="#">
				<i class="far fa-times-circle fa-2x"></i>
			</a>
		</div> -->
	</div>
</template>
<script>
	//console.log(window);
	/**
	document.body.onclick = function () {
		var $ = window.$;
		var x = document.getElementById('modal-hide')
		//console.log(x.id);
		if (x.id == "modal-hide")
			//toggleAccount();
			console.log($('#modal-hide'));
		//window.$('#mod')
	}*/
	/* document.body.onclick = (e) => {
		var $ = window.$;
		console.log(e);
		if (e.target.id == "modal-hide") {
			var modal = $('.account');
			if (modal.hasClass('hide')) modal.removeClass('hide');
			else modal.addClass('hide');
		}
	} */
	/* document.body.addEventListener('click', (e) => {
		var $ = window.$;
		console.log(e);
		if (e.target.id == "modal-hide") {
			var modal = $('.account');
			if (modal.hasClass('hide'))
				modal.removeClass('hide');
			else modal.addClass('hide');
		}
	}) */
</script>