<div class="columns inline-flex">
    <div class="column is-5-mobile is-offset-1-mobile">
        <div class="card">
            <header class="card-header">
                <span class="card-header-title text-center">
                    {{:name}}
                </span>
                <a href="#" class="card-header-icon" aria-label="more options">
                    <span class="icon">
                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                </a>
            </header>
            <div class="card-content text-center">
                <span>
                    {{:username}}
                </span>
                <i class="fab fa-steam-symbol fa-7x"></i>
                <!-- perhaps an image in here -->
            </div>
            <footer class="card-footer">
                <a data-id={{:id}} href="#" class="card-footer-item">Launch</a>
            </footer>
        </div>
    </div>
    <!-- <div class="column is-5-mobile">

    </div>
    <div class="column is-1-mobile">

    </div> -->
</div>