<div class="columns inline-flex">
    <div class="column is-5-mobile is-offset-1-mobile">
        <div class="card">
            <header class="card-header">
                <p class="card-header-title">
                    TEST
                </p>
                <a href="#" class="card-header-icon" aria-label="more options">
                    <span class="icon">
                        <i class="fas fa-angle-down" aria-hidden="true"></i>
                    </span>
                </a>
            </header>
            <div class="card-content">
                <div class="content">
                    <span>
                        This is just a test to see if I can render data from the variables parsed
                    </span>
                    <span> {{for data}} {{:names}} {{/for}}</span>

                </div>
            </div>
            <footer class="card-footer">
                <a data-id="1" href="#" class="card-footer-item">Launch</a>
            </footer>
        </div>
    </div>
    <div class="column is-5-mobile">

    </div>
    <div class="column is-1-mobile">

    </div>
</div>