<div class="columns">
    <div class="column is-8-mobile is-offset-2-mobile">
        <form id="edit-form">
            <div class="field hidden">
                <label class="label">id</label>
                <div class="control has-icons-left has-icons-right">
                    <input id="editId" class="input" type="text" placeholder="Name" value="{{:id}}">
                    <span class="icon is-small is-left">
                    		<i class="fas fa-pencil-alt"></i>
                  		</span>
                </div>
            </div>
            <div class="field">
                <label class="label">Name</label>
                <div class="control has-icons-left has-icons-right">
                    <input id="editName" class="input" type="text" placeholder="Name" value="{{:name}}">
                    <span class="icon is-small is-left">
                    			<i class="fas fa-pencil-alt"></i>
                  			</span>
                </div>
            </div>
            <div class="field">
                <label class="label">Username</label>
                <div class="control has-icons-left has-icons-right">
                    <input id="editUsername" class="input" type="text" placeholder="Username" value="{{:username}}">
                    <span class="icon is-small is-left">
						<i class="fas fa-user"></i>
					</span>
                </div>
            </div>

            <div class="field">
                <label class="label">Password</label>
                <p class="control has-icons-left">
                    <input id="editPassword" class="input" type="password" placeholder="Password">
                    <span class="icon is-small is-left">
						<i class="fas fa-lock"></i>
					</span>
                </p>
            </div>
            <label class="checkbox">
                		<input id="editRemember" type="checkbox" value="{{:remember}}"> Remember me
			</label>
            <div class="field">
                <p class="control">
                    <button id="editAccount" class="button is-primary fright">
						Update
					</button>
                </p>
            </div>
        </form>
    </div>
</div>