.about {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    overflow-x: hidden;
    overflow-y: hidden;
    padding: 0;
    background-color: rgba(202, 202, 202, 0.98);
    color: $color-bg-dark;
    transition: visibility 0s .12s linear, opacity .12s ease-in, transform .12s ease-in; // margin: 20px;
}

.about .content {
    padding-top: 10px;
}

.about p {
    margin: 1em;
}

.about a {
    color: $color-bg-dark;
}

.fixed {
    position: fixed;
}

.about footer {
    bottom: 0;
    right: 0;
    position: fixed;
}

.about .level:last-child {
    margin-bottom: 0;
}